*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: auto;
    font-family: "Belanosima";
}
#contactUsCard{
    background-color:#1e1e20;
    color:#d9d9d9;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
#contactUsCard>div:nth-child(1){
    padding: 50px;
    width: 50%;
}
#contactUsCard>div:nth-child(2){
    padding: 50px;
    width: 50%;
}

/* Right Side Start*/
#formContainer input{
    background-color: #505052;
    color: #d9d9d9;
    font-size: 20px;
    font-family: "Belanosima";
    padding: 10px;
    width: 100%;
    margin: 5px 10px;
    border-radius: 5px;
    /* border: 1px solid; */
}
#formContainer>div{
    display: flex;
    justify-content: center;
}
#formContainer textarea{   
    background-color: #505052;
    color: #d9d9d9;
    font-size: 20px;
    font-family: "Belanosima"; 
    padding: 10px;
    width: 93%;
    margin: 5px 10px;
    border-radius: 5px;
    /* border: 1px solid; */
    resize: none;
}
#formContainer #submitBTN{
    background-color: #505052;
    cursor: pointer;
}
#formContainer #submitBTN:hover{
    background-color: white;
    color: #505052;
}
/* Right Side End*/

/* Left Side Start */
#text-content>h2{
    margin-bottom: 5px;
    font-size: 80px;
}
#text-content>p{
    font-size: 30px;
}
#contact-box{
    margin-top: 30px;
}
.contacts{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.contacts>.contact-img{
    width: 40px;
    color: #d9d9d9;
}
.contacts>.contact-text{
    font-size: 20px;
}
#social-media{
    margin: auto;
    margin-top: 50px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#social-media .fa{
    font-size: 40px;
    color: #d9d9d9;
}
#social-media .fa:hover{
    color: white;
}

/* Left Side End */


/* Medium screens Start*/
@media all and (min-width: 451px) and (max-width: 750px) {
    
  }
  /* Medium screens Start*/
  /* Small screens Start*/
  @media all and (min-width: 100px) and (max-width: 450px) {
    
  }
  /* Small screens End*/