*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: auto;
    font-family: "Belanosima";
    background-color: #1e1e20;

}

/* Nav  Start*/
nav{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #cecece ;
}
#logo{
    margin-top: 5px;
    width: 120px;
}
#logo img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#navButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
#navButtons>div>a{
    font-size: 22px;
    /* font-weight:bolder; */
    color: black;
    text-decoration:none;
}           
#navButtons>div>a:hover{
    color: #01449f;
}

/* Nav  End*/

/* ABOUT US Start*/

#aboutUS{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#aboutUSLeft{
    font-size: 120px;
    font-weight:bold;
    color: #3b3b3b;
    width: 65%;
}
#aboutUSLeft>#top{
    display: flex;
    align-items: center;
}
#aboutUSLeft>#top>#imgAb{
    height: 100px;
    margin-left:10px;
    display: flex;
    align-items: center;
}
#aboutUSLeft>#top img{
    height: 100%;
}
#aboutUSRight{
    width: 35%;
    margin: auto;
    font-size: 21px;
    color: #3b3b3b;
}
#hero{
    height: 600px;
}
#hero>img{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: -80px;
}
.grey{
    background-color: #e5e5e5;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.black{
    margin-top: 200px;
    margin-bottom: 50px;
}













/* ------------------------------------------------------------------------------------------------------------------- */

/*                              Contact Us Start                            */

#contactUsCard{
    background-color:#1e1e20;
    color:#d9d9d9;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    margin-bottom: -100px;
}
#contactUsCard>div:nth-child(1){
    padding: 50px;
    width: 50%;
}
#contactUsCard>div:nth-child(2){
    padding: 50px;
    width: 50%;
}

/* Right Side Start*/
#formContainer input{
    background-color: #505052;
    color: #d9d9d9;
    font-size: 20px;
    font-family: "Belanosima";
    padding: 10px;
    width: 100%;
    margin: 5px 10px;
    border-radius: 5px;
    /* border: 1px solid; */
}
#formContainer>div{
    display: flex;
    justify-content: center;
}
#formContainer textarea{   
    background-color: #505052;
    color: #d9d9d9;
    font-size: 20px;
    font-family: "Belanosima"; 
    padding: 10px;
    width: 93%;
    margin: 5px 10px;
    border-radius: 5px;
    /* border: 1px solid; */
    resize: none;
}
#formContainer #submitBTN{
    background-color: #505052;
    cursor: pointer;
}
#formContainer #submitBTN:hover{
    background-color: white;
    color: #505052;
}
/* Right Side End*/

/* Left Side Start */
#text-content>h2{
    margin-bottom: 5px;
    font-size: 80px;
}
#text-content>p{
    font-size: 30px;
}
#contact-box{
    margin-top: 30px;
}
.contacts{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.contacts>.contact-img{
    width: 40px;
    color: #d9d9d9;
}
.contacts>.contact-text{
    font-size: 20px;
}
#social-media{
    margin: auto;
    margin-top: 50px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#social-media .fa{
    font-size: 40px;
    color: #d9d9d9;
}
#social-media .fa:hover{
    color: white;
}

/*                              Contact Us End                              */


/*----------------------------------------- Marquee Start----------------------------------------- */
#marquee{
    width: 90%;
    margin: auto;
}

marquee{
    border-top: 2px solid #4c4c4c;
    border-bottom: 2px solid #4c4c4c;
    margin-bottom: 50px;
    margin-top: 40px;
    font-size: 50px;
    color: #d8d8d8;
  }
  marquee>div{
    display: inline-block;
    margin: 20px 50px;
  }
  
  /*----------------------------------------- Marquee End----------------------------------------- */

    /*----------------------------------------- Services Start----------------------------------------- */

    #serviceCard{
        width: 90%;
        margin: auto;
        background-color: #3b3b3b;
        display: flex;
        gap: 20px;
        border-radius: 25px;
        margin-top: 50px;
        height: 230px;
    }

    #serviceCard>#service-card-head{
        width: 40%;
        /* color: #d8d8d8; */
        font-size: 55px;
        padding: 50px;
        display: flex;
        align-items: center;
        /* -webkit-text-stroke: 0.5px black; */
    }

    #serviceCard>#service-card-content{
        width: 60%;
        /* color: #d8d8d8; */
        font-size: 25px;
        padding: 50px;
        display: flex;
        align-items: center;
        /* -webkit-text-stroke: 0.1px white; */
    }

    #services>:nth-child(2){
        background-color: #01449f;
    }
    #services>:nth-child(3){
        background-color: #d6392c;
    }
    #services>:nth-child(4){
        background-color: #f7bd00;
    }
    #services>:nth-child(5){
        background-color: #e87a00;
    }
    #services>:nth-child(6){
        background-color: #01449f;
    }
    #services>:nth-child(7){
        background-color: #d6392c;
    }
    #services>:nth-child(8){
        background-color: #f7bd00;
    }



    #servicesHeading{
        font-size: 90px;
        width: 90%;
        margin: auto;
        /* display: flex;
        justify-content: center; */
        color: #d8d8d8;
    }
    /*----------------------------------------- Services End----------------------------------------- */

    
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
    }

    /*----------------------------------------- Scroll Behaviour Start----------------------------------------- */
   
html{
    scroll-behavior:smooth;
}

/*----------------------------------------- Scroll Behaviour End----------------------------------------- */